@media (min-width: 320px) and (max-width: 768px) {
    .nav {
        display: none;
    }

    .container {
        max-width: 260px;
        margin: 0 auto;
    }

    .header-buttons {
        display: none;
    }

    .burger-menu {
        display: block;
    }

    .header {
        padding: 30px 30px;
    }

    .header .title {
        display: none;
    }

    .hero-section {
        padding: 80px 0;
        margin-bottom: 36px;
    }

    .section__uptitle {
        font-size: 24px;
    }

    .section__title {
        font-size: 20px;
    }


    .hero-section .section__uptitle {
        font-size: 16pt;
    }

    .hero-section .hero-section__title {
        font-size: 26px;
    }

    .hero-section .button {
        padding: 10px 15px;
        font-size: 13px;
    }

    .promotions-section {
        margin-bottom: 70px;
    }

    .promotions {
        flex-direction: column;
        margin-bottom: 0;
    }

    .pr {
        padding: 14px;
        display: flex;
        align-items: center;
        width: 260px;
        height: 146px;
    }

    .promotion__uptitle {
        display: none;
    }

    .promotion__title {
        max-width: 138px;
        font-size: 16px;
    }

    .about-section {
        padding: 0;
        max-width: 260px;
        margin: 0 auto;
        text-align: center;
        flex-direction: column;
        background-color: transparent;
    }

    .about-text {
        max-width: 260px;
        margin: 0 auto;
    }

    .section__text {
        text-align: justify;
        font-size: 14px;
    }

    .advant {
        gap: 10px;
    }

    .advant img {
        width: 35px;
        padding: 5px;
    }

    .advant__title {
        font-size: 14px;
        text-align: left;
        max-width: auto;
    }

    .advant__text {
        text-align: justify;
        font-size: 12px;
    }

    .about-section img[src="images/about-img.webp"] {
        display: none;
    }

    .about-section .button {
        display: none;
    }

    .categories-section {
        margin-bottom: 136px;
    }

    .product-cards {
        margin-bottom: 22px;
    }

    .product-card {
        width: 260px;
    }

    .product-card__price {
        gap: 15px;
    }

    .product-card__new-price {
        font-size: 16px;
    }

    .product-card__old-price {
        font-size: 13px;
    }

    .product-card__title {
        font-size: 15px;
    }

    .product-card .product-card__img {
        height: 229px;
    }

    .categories-section .button {
        padding: 15px 20px;
        font-size: 16px;
    }

    .testimonial-section {
        padding-top: 0;
        background-image: none;
    }

    .testimonial__role_mobile,
    .testimonial__author_mobile {
        display: block !important;
    }

    .testimonial__author,
    .testimonial__role {
        display: none;
    }

    .testimonial-stat {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    .line {
        display: none;
    }

    .stat {
        padding: 20px;
        width: 116px;
        height: 116px;
    }

    .stat__title {
        font-size: 20px;
    }

    .stat__desc {
        font-size: 14px;
    }

    .adapt-button {
        display: block;
    }

    .btn {
        display: none;
    }

    .recomendation-section {
        padding: 47px 0;
    }

    .recomendation-cards {
        flex-direction: column;
        margin-bottom: 38px;
    }

    .adapt-button .button {
        font-size: 15px;
        padding: 28px 15px;
    }

    img[src="images/about-img2.webp"] {
        display: none;
    }

    .description {
        position: static;
        padding: 100px 30px 30px 30px;
        text-align: center;
    }

    .description-item__text {
        text-align: justify !important;
    }

    .description-item__title {
        font-size: 20px;
    }

    .lenta-section {
        flex-direction: column;
        margin-bottom: 100px;
    }

    .lenta-item {
        height: 300px;
        padding: 125px 63px;
    }

    .lenta-item__text {
        padding: 15px 20px;
        font-size: 17px;
    }

    .section-header {
        text-align: center;
    }

    .news {
        flex-direction: column;
        margin-bottom: 59px;
        row-gap: 45px;
    }

    .news-card {
        background-image: none !important;
        width: 260px;
    }

    .news__date {
        display: none;
    }

    .section-header .button {
        display: none;
    }

    .news-info {
        position: static;
        padding: 38px 16px;
        max-width: 9999px;
    }

    .news-card {
        padding: 0;
        height: auto;
    }

    .news-card .button {
        padding: 9px 67px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .news__author {
        margin-bottom: 52px;
    }

    .news__title {
        text-align: center;
        font-size: 20px;
        margin-bottom: 2px;
    }

    .news__desc {
        text-align: center;
        font-size: 14px;
        margin-bottom: 52px;
    }

    .adapt-button .button {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .mailing-section .container {
        padding: 47px 15px;
        background-position: center;
    }

    .mailing-form__title {
        font-size: 20px;
        text-align: center;
        margin-bottom: 58px;
    }

    .mailing-form__input {
        padding: 28px 23px;
        max-width: 222px;
        margin: 0 auto;
        margin-bottom: 6px;
    }

    .mailing-form {
        flex-direction: column;
    }

    footer .container {
        display: block;
        margin: 0 auto;
    }

    .footer-leftside,
    .footer-rightside {
        display: none;
    }

    .footer-centerside {
        border: none;
        padding: 0;
        text-align: justify;
    }

    .footer-centerside__text {
        margin-bottom: 31px;
    }

    .banner-section-shop .title {
        font-size: 38px;
        color: white;
        text-shadow: 1px 1px 12px black;
    }

    .news-banner-section .title {
        font-size: 38px;
        color: white;
        text-shadow: 1px 1px 12px black;
    }
}